$base: bre;
$tools-width: 245px;
$tools-background: #eee;

$scrollbar-width: 15px;

$label-font-size: .8rem;
$label-font-color: #333333;
$subtitle-font-color: #777;

$btn-font-size: .7rem;
$btn-font-color: #333333;

$input-font-size: .8rem;
$input-font-color: #555555;
$input-placeholder-color: #EEEEEE;

$border-color: #DDDDDD;
$accent-color: #92819F;
$input-padding: 0 .8rem;

$fixed-z-index: 101;

@mixin trasition() {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}