.brickyeditor-block-tools {
    width: 16*4px;
    margin-left: -16*5px;
    float: left;

    a {
        color: $color-btn-dark !important;
        cursor: pointer;
        &:hover {
            color: lighten($color-btn-dark, 20%) !important;
        }
    }
}