@import '_base';

$stroke-offset: 5px;
$stroke-width: 1px;

.bre-block-wrapper {

    [contenteditable]:focus {
        outline: none;
    }

    &.bre-active {
        outline: 1px dotted $accent-color;
    }

    &.bre-selected {
        > .bre-block-tools {                
            display: block;
        }

        &.bre-active {
            outline: 0px dotted $accent-color;
        }

        border-left: $stroke-width solid $accent-color;        
        margin-left: -($stroke-width + $stroke-offset);
        padding-left: $stroke-offset;
    }

    .bre-block-tools {
        background: rgba(255, 255, 255, .85);
        border-radius: 1rem;
        width: 36px;
        margin-left: -36px - $stroke-offset - $stroke-width;
        position: absolute;
        display: none;        
        z-index: $fixed-z-index;
    }
}