@import '_base';

.bre-btn {
    width: 2rem;
    height: 2rem;    

    cursor: pointer;

    border-width: 0px;

    background: #fff;
    border: 1px solid $accent-color;
    color: $accent-color;
                    
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    
    -webkit-transition: all .25s ease-in 0s;
    -moz-transition: all .25s ease-in 0s;
    transition: all .25s ease-in 0s;
    
    &:hover {
        color: #fff;
        background: $accent-color;
    }

    &:focus {
        outline-style: none;
    }
}

.bre-btn-primary {
    color: #fff;
    background-color: $accent-color;   

    &:hover {
        background-color: darken($accent-color, 10);   
    }
}

.bre-btns {
    text-align: right;    

    .bre-btn {        
        width: auto;
        text-transform: uppercase;
        padding: 0 1rem;
        margin-right: .25rem;
        font-size: .7rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.bre-btn-group {
    .bre-btn {
        float: left;
        border-radius: 0;
        border-left: 0px;
        padding:0;
    
        &:first-child {
            border-left: 1px solid $accent-color;
            border-radius: .5rem 0 0 .5rem;
        }

        &:last-child {
            border-radius: 0 .5rem .5rem 0;
        }
    }
}

.bre-btn-deck {
    position: relative;
    width: 2rem;    
    
    .bre-btn {
        padding:0;
        top: 0;
        left: 0;
        opacity: 0;

        border-radius: 2rem;    
        position:absolute;
        z-index: 101;
    
        &:first-child {
            opacity: 1;
            z-index: 102;
        }
    }

    .bre-btn-active {
        background-color: $accent-color;
        color: #fff;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}