@import '_base';

@mixin shadow() {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.bre-modal {
    display: none;
    position: fixed;
    z-index: 102;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .bre-modal-placeholder {
        background-color: #fefefe;
        margin: 20px auto;
        min-width: 400px;
        max-width: 800px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

         @include shadow();

        .bre-modal-close {
            text-align: right;
            padding: .5rem 1.5rem 0 0;

            a {
                text-decoration: none;
                color: #000000;
                font-weight: bold;
                font-size: .8rem;
            }
        }

        form {
            padding: 0rem 1.5rem 1.5rem 1.5rem;
        }
    }
}