doctype html
html
  block vars
  head
    title BrickyEditor - WYSIWYG longrid editor.
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    block styles
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")

    block scripts
      script(src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")    
    
  body
    header
      include ../partial/nav.pug

    main
      div.container
        block content

    include ../partial/metrics.pug