.bre {
  &-field {
    &-editor {
      &-root {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        width: 100%;
      }

      &-preview {
        user-select: none;
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 10rem;
        max-height: 20rem;
        overflow: auto;

        &-img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      &-prop {
        width: 100%;
        margin-top: 0.5rem;

        &:last-of-type {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
