.bre {
  &-field {
    &-placeholder {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100px;
      height: 100%;
    }
  }
}
