
.bre-block {
  position: relative; }
  .bre-block > [contenteditable]:focus {
    outline: 0px solid transparent; }
  .bre-block-selected {
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.5); }

.bre-editor {
  /* empty */ }

.bre-hidden {
  display: none; }

.bre-icon > svg {
  stroke: #000000;
  fill: none;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.bre-icon-light > svg {
  stroke: #ffffff; }

.bre-icon-32 > svg {
  width: 32px; }

.bre-block-editor {
  display: flex;
  position: absolute;
  top: -48px;
  z-index: 100;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px; }
  .bre-block-editor:hover {
    opacity: 1; }
  .bre-block-editor-button {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 32px;
    padding: 6px;
    margin-right: 4px;
    opacity: 0.8; }
    .bre-block-editor-button:last-of-type {
      margin-right: 0; }
    .bre-block-editor-button:hover {
      opacity: 1; }
    .bre-block-editor-button-disabled {
      cursor: 'unset';
      opacity: 0.3; }
      .bre-block-editor-button-disabled:hover {
        opacity: 0.3; }
  .bre-block-editor-vertical {
    top: 0;
    left: -48px;
    flex-direction: column;
    opacity: 0.8; }
  @media print {
    .bre-block-editor {
      display: 'none'; } }

.bre-container-placeholder {
  cursor: pointer;
  box-shadow: inset 0 0 1px 0px rgba(30, 30, 160, 0.9);
  opacity: 0.5; }

.bre-container-selected {
  box-shadow: inset 0 0 1px 0px rgba(30, 30, 160, 0.2); }

.bre-field-selected > .bre-container-placeholder {
  background-color: rgba(30, 30, 160, 0.2); }

.bre-template .bre-container-placeholder {
  min-height: 48px; }

.bre-editor {
  /* empty */ }

.bre-hidden {
  display: none; }

.bre-icon > svg {
  stroke: #000000;
  fill: none;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.bre-icon-light > svg {
  stroke: #ffffff; }

.bre-icon-32 > svg {
  width: 32px; }

.bre-field-editor-root {
  width: 100%; }

.bre-field-editor-preview {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 10rem;
  max-height: 20rem;
  overflow: auto; }
  .bre-field-editor-preview-img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.bre-field-editor-prop {
  width: 100%;
  margin-top: 0.5rem; }
  .bre-field-editor-prop:last-of-type {
    margin-bottom: 0.5rem; }

.bre-field-placeholder {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  height: 100%; }

.bre-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.bre-editor {
  /* empty */ }

.bre-hidden {
  display: none; }

.bre-icon > svg {
  stroke: #000000;
  fill: none;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.bre-icon-light > svg {
  stroke: #ffffff; }

.bre-icon-32 > svg {
  width: 32px; }

.bre-label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  color: #333333;
  margin-bottom: 0.3rem; }

.bre-input {
  height: 2rem;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  background: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555555;
  border: 1px solid rgba(146, 129, 159, 0.5);
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out; }
  .bre-input:focus {
    outline: none;
    border-color: #92819f; }
  .bre-input::-moz-placeholder {
    -moz-appearance: none;
         appearance: none;
    color: rgba(146, 129, 159, 0.5); }
  .bre-input:-ms-input-placeholder {
    appearance: none;
    color: rgba(146, 129, 159, 0.5); }
  .bre-input::placeholder {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: rgba(146, 129, 159, 0.5); }
  .bre-input[type='file'] {
    line-height: 200%;
    padding-left: 0; }
    .bre-input[type='file']:focus {
      border-color: transparent; }

.bre-btns {
  display: flex;
  justify-content: flex-end; }

.bre-btn {
  background-color: #92819f;
  border: 1px solid #92819f;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  padding: 0 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 0.5rem; }
  .bre-btn:focus {
    outline-color: #92819f; }
  .bre-btn-clear {
    background-color: transparent;
    border-color: transparent;
    color: #92819f; }
  .bre-btn:last-of-type {
    margin-right: 0; }

.bre-editor {
  /* empty */ }

.bre-hidden {
  display: none; }

.bre-icon > svg {
  stroke: #000000;
  fill: none;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.bre-icon-light > svg {
  stroke: #ffffff; }

.bre-icon-32 > svg {
  width: 32px; }

.bre-modal {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 102;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bre-modal-lightbox {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .bre-modal-root {
    z-index: 103;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem;
    background-color: #fff;
    margin: 1rem auto;
    min-width: 35rem;
    max-width: calc(100% - 2rem);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4); }
  .bre-modal-content {
    overflow: auto;
    max-height: calc(100% - 50px);
    -ms-overflow-style: none; }
    .bre-modal-content::-webkit-scrollbar {
      display: none; }
  .bre-modal-close {
    text-align: right;
    padding: 0.5rem 1.5rem 0 0; }
  .bre-modal-fix-body {
    overflow: hidden; }

.bre-template-zoom {
  zoom: 0.5; }

.bre-editor {
  /* empty */ }

.bre-hidden {
  display: none; }

.bre-icon > svg {
  stroke: #000000;
  fill: none;
  width: 100%;
  height: 100%;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.bre-icon-light > svg {
  stroke: #ffffff; }

.bre-icon-32 > svg {
  width: 32px; }

.bre-templates-root {
  position: fixed;
  width: 260px;
  max-width: 260px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #efefef;
  transition: all 0.15s ease-in 0s; }

.bre-templates-loader {
  /* empty */ }

.bre-templates-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem; }

.bre-templates-group {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .bre-templates-group-name {
    cursor: pointer;
    color: #111111;
    font-size: 1rem;
    padding: 0.5rem 0;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden; }
  .bre-templates-group-item {
    cursor: pointer;
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.5rem;
    overflow: hidden; }
    .bre-templates-group-item p {
      max-lines: 3; }

@media print {
  .bre-templates-root {
    display: 'none'; } }

@media (max-width: 768px) {
  .bre-templates-toggle {
    cursor: pointer; }
  .bre-templates-root {
    left: 0;
    width: 100%;
    max-width: unset; } }
