$tools-width: 260px;
$fixed-z-index: 100;

.bre-templates {
  &-root {
    position: fixed;
    width: 30%;
    max-width: $tools-width;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $fixed-z-index;
    background: rgba(238, 238, 238, 0.5);
    transition: all 0.15s ease-in 0s;
  }

  &-loader {
    /* empty */
  }

  &-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-group {
    padding: 0 1rem 1rem;
    user-select: none;

    &-name {
      cursor: pointer;
      color: #111111;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      overflow: hidden;
    }

    &-item {
      cursor: pointer;
      background-color: #ffffff;
      margin-bottom: 1rem;
      padding: 0.5rem;
      overflow: hidden;
    }
  }
}
