$tools-width: 260px;
$fixed-z-index: 100;

.bre-templates {
  &-root {
    position: fixed;
    width: 30%;
    max-width: $tools-width;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $fixed-z-index;
    background: rgba(238, 238, 238, 0.5);
    transition: all 0.15s ease-in 0s;
  }

  &-loader {
    /* empty */
  }

  &-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-group {
    padding: 0 1rem 1rem;
    user-select: none;

    &-name {
      cursor: pointer;
      color: #111111;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      overflow: hidden;
    }

    &-item {
      cursor: pointer;
      background-color: #ffffff;
      margin-bottom: 1rem;
      padding: 0.5rem;
      overflow: hidden;
    }
  }
}

// -selector {
//   .bre-tools-templates {
//     width: 100%;
//     height: 99%;
//     overflow: auto;

//     .bre-template-group {
//       color: $accent-color;
//       font-size: 0.5rem;
//       padding: 0.5rem 0.5rem 0rem 0.5rem;
//       font-weight: 500;
//       text-transform: uppercase;
//       cursor: pointer;
//     }

//     .bre-template {
//       > *,
//       > * > * {
//         @include scale(0.2);
//       }

//       cursor: pointer;
//       background: #fff;
//       user-select: none;
//       padding: 0.5rem;
//       margin: 0.5rem;

//       -webkit-box-shadow: 0px 1px 5px 0px rgba(115, 115, 115, 0.2);
//       -moz-box-shadow: 0px 1px 5px 0px rgba(115, 115, 115, 0.2);
//       box-shadow: 0px 1px 5px 0px rgba(115, 115, 115, 0.2);

//       &:hover {
//         background: darken(#fff, 5%);
//       }

//       .bre-field-container {
//         padding: 1rem;
//         border: 1px solid $border-color;
//         border-right-width: 0px;
//         text-align: center;
//         font-weight: bold;
//         font-size: 1rem;
//         color: $accent-color;

//         &::after {
//           content: "\2295";
//         }
//       }

//       .bre-field-container:last-child {
//         border-right-width: 1px;
//       }
//     }

//     @media (min-width: 576px) and (max-width: 1023px) {
//       .bre-template > * {
//         @include scale(0.3);
//       }
//     }

//     @media (min-width: 1024px) {
//       .bre-template > * {
//         @include scale(0.4);
//       }
//     }
//   }
// }

// .bre-tools-collapsed {
//   right: -($tools-width * 0.8);
// }
