extends layout/examples.pug

block scripts
    script.
        $(function(){
            $("#editor").brickyeditor({
                ignoreHtml: true,
                blocks: [
                    {
                        "template": "h1-display",
                        "html": "<h1 class=\"display-1 mb-4\">BrickyEditor.</h1>",
                        "fields": [
                            {
                                "type": "html",
                                "name": "text",
                                "data": {
                                    "html": "BrickyEditor."
                                }
                            }
                        ]
                    },
                    {
                        "template": "p",
                        "html": "<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>",
                        "fields": [
                            {
                                "type": "html",
                                "name": "text",
                                "data": {
                                    "html": "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue."
                                }
                            }
                        ]
                    },
                    {
                        "template": "embed",
                        "fields": [
                            {
                                "type": "embed",
                                "name": "embed",
                                "data": {
                                    "url": "http://instagr.am/p/BYJAes_HEI0/"
                                }
                            }
                        ]
                    }
                ],
                onload: function(editor) {
                    initButtons(editor);
                }
            });                
        });