extends layout/examples.pug

block scripts
    script.
        $(function(){
            $("#editor").brickyeditor({
                templatesUrl: "/templates/cv.html",
                blocks: [
                {
                    "template": "Header",
                    "fields": [
                        {
                            "name": "image",
                            "type": "image",
                            "src": "assets/photo.jpg"
                        },
                        {
                            "name": "name",
                            "type": "html",
                            "html": "George Yakovlev",
                            "data": {
                                "html": "George Yakovlev"
                            }
                        },
                        {
                            "name": "description",
                            "type": "html",
                            "html": "Fullstack Web-Developer",
                            "data": {
                                "html": "Fullstack Web-Developer"
                            }
                        },
                        {
                            "name": "location",
                            "type": "html",
                            "html": "Moscow, Russia",
                            "data": {
                                "html": "Moscow, Russia"
                            }
                        },
                        {
                            "name": "phone",
                            "type": "html",
                            "html": "+7-926-00-0000",
                            "data": {
                                "html": "+7-926-00-0000"
                            }
                        },
                        {
                            "name": "email",
                            "type": "html",
                            "html": "yakovlev.ga@gmail.com",
                            "data": {
                                "html": "my@email.com"
                            }
                        },
                        {
                            "name": "site",
                            "type": "html",
                            "html": "https://github.com/yakovlevga",
                            "data": {
                                "html": "https://github.com/yakovlevga/brickyeditor"
                            }
                        }
                    ]
                },
                {
                    "template": "Section Header",
                    "fields": [
                        {
                            "name": "header",
                            "type": "html",
                            "html": "About Me"
                        }
                    ]
                },
                {
                    "template": "Paragraph Lead",
                    "fields": [
                        {
                            "name": "text",
                            "type": "html",
                            "html": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        }
                    ]
                },
                {
                    "template": "Section Header",
                    "fields": [
                        {
                            "name": "header",
                            "type": "html",
                            "html": "Expirience"
                        }
                    ]
                },
                {
                    "template": "Experience",
                    "fields": [
                        {
                            "name": "position",
                            "type": "html",
                            "html": "Lead Web-Developer"
                        },
                        {
                            "name": "company",
                            "type": "html",
                            "html": "Some Company LLC"
                        },
                        {
                            "name": "start",
                            "type": "html",
                            "html": "2015"
                        },
                        {
                            "name": "finish",
                            "type": "html",
                            "html": "2017"
                        },
                        {
                            "name": "description",
                            "type": "html",
                            "html": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        }
                    ]
                },
                {
                    "template": "Experience",
                    "fields": [
                        {
                            "name": "position",
                            "type": "html",
                            "html": "Senior Web-Developer"
                        },
                        {
                            "name": "company",
                            "type": "html",
                            "html": "Company LLC"
                        },
                        {
                            "name": "start",
                            "type": "html",
                            "html": "2013"
                        },
                        {
                            "name": "finish",
                            "type": "html",
                            "html": "2015"
                        },
                        {
                            "name": "description",
                            "type": "html",
                            "html": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        }
                    ]
                },
                {
                    "template": "Experience",
                    "fields": [
                        {
                            "name": "position",
                            "type": "html",
                            "html": "Developer"
                        },
                        {
                            "name": "company",
                            "type": "html",
                            "html": "Company LLC"
                        },
                        {
                            "name": "start",
                            "type": "html",
                            "html": "2015"
                        },
                        {
                            "name": "finish",
                            "type": "html",
                            "html": "2017"
                        },
                        {
                            "name": "description",
                            "type": "html",
                            "html": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        }
                    ]
                },
                {
                    "template": "Section Header",
                    "fields": [
                        {
                            "name": "header",
                            "type": "html",
                            "html": "Area of Expertise"
                        }
                    ]
                },
                {
                    "template": "Paragraph",
                    "fields": [
                        {
                            "name": "text",
                            "type": "html",
                            "html": "<ul><li><b style=\"font-size: 1rem;\">Languages</b><span style=\"font-size: 1rem;\">: C#, JS, TypeScript, Objective-C&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Back-End</b>: ASP.NET MVC, ASP.NET WebForms, IIS&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Front-End</b>: jQuery, Signal R, SASS, Gulp, Knockout JS&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Mobile</b>: Windows &amp; Windows Phone (both silverlight and xaml apps), iOs (obj-c)&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Data</b>: MS SQL, EF, Dapper, SQLite, Mongo DB&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Other</b>: Git, Svn, Unit Tests, Patterns of architecture</span><br></li></ul>"
                        }
                    ],
                    "html": "<p><ul><li><b style=\"font-size: 1rem;\">Languages</b><span style=\"font-size: 1rem;\">: C#, JS, TypeScript, Objective-C&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Back-End</b>: ASP.NET MVC, ASP.NET WebForms, IIS&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Front-End</b>: jQuery, Signal R, SASS, Gulp, Knockout JS&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Mobile</b>: Windows &amp; Windows Phone (both silverlight and xaml apps), iOs (obj-c)&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Data</b>: MS SQL, EF, Dapper, SQLite, Mongo DB&nbsp;</span></li><li><span style=\"font-size: 1rem;\"><b>Other</b>: Git, Svn, Unit Tests, Patterns of architecture</span><br></li></ul></p>"
                },
                {
                    "template": "Section Header",
                    "fields": [
                        {
                            "name": "header",
                            "type": "html",
                            "html": "Education"
                        }
                    ]
                },
                {
                    "template": "Education",
                    "fields": [
                        {
                            "name": "place",
                            "type": "html",
                            "html": "Moscow State University"
                        },
                        {
                            "name": "facultity",
                            "type": "html",
                            "html": "Physics, Master in Condensed Matter Physics"
                        },
                        {
                            "name": "start",
                            "type": "html",
                            "html": "2003"
                        },
                        {
                            "name": "finish",
                            "type": "html",
                            "html": "2009"
                        }
                    ]
                },
                {
                    "template": "Section Header",
                    "fields": [
                        {
                            "name": "header",
                            "type": "html",
                            "html": "Certificates"
                        }
                    ]
                },
                {
                    "template": "Paragraph",
                    "fields": [
                        {
                            "name": "text",
                            "type": "html",
                            "html": "<ul><li><b>MCSD: Web Applications</b>&nbsp;</li><li><b>MCP: Microsoft Certified Professional</b><br></li></ul>"
                        }
                    ]
                }
            ],
                onload: function(editor) {
                    initButtons(editor);
                }
            });                
        });