extends layout/layout.pug
  
block vars
  - var activePage = "index.html";

block content
    <div class="row mb-4">
        <div class="col-md-12 col-lg-6">
            <h1 class="display-4">BrickyEditor</h1>
            <p class="lead">BrickyEditor is the simple WYSIWYG editor, based on block system.</p>              
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="examples.html">View examples</a>
                <a class="btn btn-primary btn-lg" href="https://github.com/yakovlevga/brickyeditor" target="_blank"><i class="fa fa-github"></i> github</a>
            </p>
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="/assets/demo.gif" class="img-fluid img-thumbnail" style="width: 100%;">
        </div>
    </div>
    p.
        Usually, editors without any frontend background makes a lot of mistakes in html code.<br/>
        On the other side - there is a lot of WYSIWYG editors, that brings them too much freedom,
        which leads to different appearence of publications.
    p.
        <b>BrickyEditor</b> solve this problems: editors can use only prepared blocks of content and don't need to write any code.<br/> 
        Your longrids and articles will be in one clean style.
    p.
        Since BrickyEditor can save blocks as JSON, not only in rendered HTML, you can easily deliver your content to mobile platforms <br/>
        and render it natively, without