.bre {
  &-container {
    &-placeholder {
      cursor: pointer;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      border: 1px dashed #000000;
      opacity: 0.5;

      & > svg {
        width: 32px;
        height: 32px;
        stroke: #000000;
        stroke-linecap: "round";
        stroke-linejoin: "round";
        stroke-width: 32px;
        fill: none;
      }
    }

    &-selected {
      box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.bre-field-selected {
  .bre-container-placeholder {
    opacity: 1;

    & > svg {
      visibility: hidden;
    }
  }
}
