.bre {
  &-container {
    &-placeholder {
      cursor: pointer;
      min-height: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0 0 1px 0px rgba(30, 30, 160, 0.9);
      opacity: 0.5;
    }

    &-selected {
      box-shadow: inset 0 0 1px 0px rgba(30, 30, 160, 0.2);
    }
  }
}

.bre-field-selected {
  .bre-container-placeholder {
    opacity: 1;

    & > svg {
      visibility: hidden;
    }
  }
}

.bre-template {
  min-height: 48px;
  .bre-container-placeholder {
    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}
