.bre {
  &-container {
    &-placeholder {
      cursor: pointer;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }

    &-selected {
      box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
