@import '../../node_modules/include-media/dist/_include-media.scss';

$accent: #92819f;

$tools-width: 260px;

$zIndex-base: 100;
$zIndex-template-selector: $zIndex-base + 1;
$zIndex-block-editor: $zIndex-base;
$zIndex-modal: $zIndex-template-selector + 1;

.bre {
  &-editor {
    /* empty */
  }

  &-hidden {
    display: none;
  }

  &-icon {
    & > svg {
      stroke: #000000;
      fill: none;
      width: 100%;
      height: 100%;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &-light {
      & > svg {
        stroke: #ffffff;
      }
    }

    &-32 {
      & > svg {
        width: 32px;
      }
    }
  }
}
