@import './editor.scss';

.bre {
  &-modal {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: $zIndex-modal;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-lightbox {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-root {
      z-index: 103;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem 1.5rem 1rem;
      background-color: #fff;
      margin: 1rem auto;
      min-width: 35rem;
      max-width: calc(100% - 2rem);
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
    }

    &-content {
      overflow: auto;
      max-height: calc(100% - 50px);

      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-close {
      text-align: right;
      padding: 0.5rem 1.5rem 0 0;
    }

    &-fix-body {
      overflow: hidden;
    }
  }
}
