- 
    var menu = [
        { title: "Examples", url: "examples.html" },
        { title: "Download", url: "https://github.com/yakovlevga/brickyeditor" }
    ];

mixin menuItem(item)
    li(class= activePage == item.url ? "nav-item active" : "nav-item")
        a(class="nav-link" href=item.url)=item.title
        
<nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html">BrickyEditor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            each item in menu
                +menuItem(item)
    </div>
</nav>