@import "partials/_block";
@import "partials/_buttons";
@import "partials/_htmlTools";
@import "partials/_input";
@import "partials/_modal";
@import "partials/_tools";

.bre {
    * {
        font-family: sans-serif;
    }
}

.bre-editor {
    position: relative;
}